name: Build and Publish Package
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get -y install build-essential debhelper devscripts fakeroot
    - name: Build package
      run: |
        cd source/slurm-23.02.1
        debuild -us -uc -b
    - name: Publish package
      uses: actions/upload-artifact@v2
      with:
        name: slurm.deb
        path: slurm*.deb
